absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.11.1
asttokens==3.0.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.3.0
backoff==2.2.1
bcrypt==5.0.0
beautifulsoup4==4.13.4
blinker==1.9.0
build==1.3.0
cachetools==5.5.2
certifi==2024.12.14
charset-normalizer==3.4.1
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
dataclasses-json==0.5.14
debugpy==1.8.17
decorator==5.2.1
distro==1.9.0
durationpy==0.10
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.2.1
faiss-cpu==1.13.2
Faker==37.1.0
fastapi==0.128.0
favicon==0.7.0
filelock==3.16.1
flatbuffers==24.12.23
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
google-genai==1.56.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.72.0
greenlet==3.3.1
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.14.0
h5py==3.12.1
htbuilder==0.9.0
httpcore==1.0.7
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.27.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipykernel==7.1.0
ipython==8.37.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.8.2
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.9.1
keras==3.12.1
kiwisolver==1.4.8
kubernetes==35.0.0
langchain
langchain-community
langchain-core
langgraph
langgraph-checkpoint
langgraph-prebuilt
langsmith==0.1.147
libclang==18.1.1
lxml==5.4.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.26.2
matplotlib==3.10.1
matplotlib-inline==0.2.1
mdurl==0.1.2
ml_dtypes==0.5.4
mmh3==5.2.0
mpmath==1.3.0
multidict==6.1.0
mypy_extensions==1.1.0
namex==0.0.8
narwhals==1.37.1
nest-asyncio==1.6.0
networkx==3.4.2
numexpr==2.14.1
numpy==1.26.4
oauthlib==3.3.1
ollama==0.6.1
onnxruntime==1.23.2
openai==0.28.0
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-asgi==0.60b1
opentelemetry-instrumentation-fastapi==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-util-http==0.60b1
opt_einsum==3.4.0
optree==0.14.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
parso==0.8.5
pdf2img==0.1.2
pillow==11.1.0
platformdirs==4.5.1
plotly==6.0.1
posthog==7.8.0
prometheus_client==0.21.1
prompt_toolkit==3.0.52
propcache==0.2.1
proto-plus==1.27.0
protobuf==5.29.3
psutil==7.1.3
pulsar-client==3.9.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.1
pymdown-extensions==10.15
PyMuPDF==1.26.7
pyparsing==3.2.3
pypdf==4.2.0
PyPDF2==3.0.1
PyPika==0.51.0
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==27.1.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.24.0
rsa==4.9.1
safetensors==0.5.2
scikit-learn==1.7.2
scipy==1.15.3
sentence-transformers==2.6.1
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==1.4.54
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
starlette==0.50.0
streamlit==1.45.0
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.14.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.6.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.4.0
torch==2.2.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.38.2
typer==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
uritemplate==4.2.0
urllib3==2.3.0
uuid_utils==0.14.0
uvicorn==0.40.0
validators==0.35.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
xxhash==3.6.0
yarl==1.18.3
zipp==3.23.0
zstandard==0.25.0



