name: Build and deploy Python app to Azure Web App - AIDDAPP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # Checkout repository
      - uses: actions/checkout@v4

      # Upload source directly (no local pip install)
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: .
          
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'AIDDAPP'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4AD26BF475E3468B822F91A65F3EA367 }}
